body{
  overflow: hidden;
}
.full-width{
  width: 420px !important;
}
.card-head{ 
    width: 7rem;
    height:5rem;
    /* border-top-right-radius: 10px 10px;
    border-top-left-radius: 50px 50px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 50px 50px; */
    box-shadow: 2px 2px 15px 2px #ccc;
  }
  .header{
      padding-top: 20px;
      
  }
  .cubicle{
    color: white;
    font-size: 3em;
    font-family: Inconsolata, monospace;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .font-fam{
    font-family: Inconsolata, monospace;
  }
  .cubicle-data{
    border-radius: 2px;
    height: 100px;
    margin: 1rem;
    position: relative;
    width: 100px;
  }
  .board-container {
    background-color: #b3bec2;
    height: 370px;
    width: 370px !important;
  }
  .shadow{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .board-container .row {
    height: 100%;
  }
  .board-square {
    border: 2px solid #b3bec2;
    height: 25%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .gamename {
    text-align: center;
  }
  .instructions{
    text-align: justify;
    font-size: smaller;
  }